﻿@model SalesWebMvc.Models.ViewModels.SellerFormViewModel
@*//a view vai ter à disposição um objeto Seller*@

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr /> <!-- coloca uma linha -->
<div class="row">
    <!-- ROW: garante que ocupe a largura da tela -->
    <div class="col-md-4">
        <!--o bootstrap divide a tela em 12 partes (aqui foi lateralmente) -->
        <form asp-action="Create"><!--quando enviar o form  vou chamar a Action Create que usa o método Post-->
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label> <!--asp-for: define o label que aparece na caixinha para digitar-->
                <input asp-for="Seller.Name" class="form-control" /> <!-- insere dados aqui -->
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Birthdate" class="control-label"></label>
                <input asp-for="Seller.Birthdate" class="form-control" />
                <span asp-validation-for="Seller.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}