﻿@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name); <!-- pone Name -->
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name) <!-- pone el valor de Name -->
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.BaseSalary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" /> <!-- vai enviar no form -->
        <input type="submit" value="Delete" class="btn btn-danger" /> <!-- form onde usa-se para enviar algo -->
        <a asp-action="Index">Back to List</a>
    </form>
</div>