﻿@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name); <!-- pone Name -->
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name) <!-- pone el valor de Name -->
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.BaseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department);
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back to list</a>
</div>